</div>
</div>
</div>

<div class="row">
    <div class="col">
        <div class="footer">
            <p>Copyright © 2024 belowzero273</p>
            <img class="footer-icon" src="img/logos/twitter.png" alt="twitter">
            <img class="footer-icon" src="img/logos/linkedin.png" alt="linkedin">
            <img class="footer-icon" src="img/logos/mail.png" alt="mail">
        </div>
    </div>
</div>
</div>
</body>

</html>
